  
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register</title>
</head>
<body>
  <%- include('partials/_header') %> 
  <p>Been here before? <a href="/login">Login!</a></p>
  <h1>Register</h1>
  <form method="POST" action="/register">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required />
    <br/>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required />
    <br/>
    <button type="submit">Register!</button>
  </form>
</body>
</html>